.timesheetGrid {
    min-width: 100%;
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr;
}

@media (min-width: 600px) {
    .timesheetGrid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr  1fr 1fr 1fr;
    }
}